.row{
    background-image: url('../img/fondo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
}
.card{
    transition: .4s ease-in-out;
    background-color:  #fff9c4 ;
}
.card:hover{
    transform: scale(1.05);
    background-color:  #fff59d;
}