body{
    background-image: url('../img/fondo_2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
}
input[type= "text"],
input[type= "password"]{
    border: none;
    border-radius: 0;
    border-bottom: 0.5px solid#f39c12 ;
}
input[type="text"]:focus{
    box-shadow: 0 0 0;
}
input[type= "password"]:focus{
    box-shadow: 0 0 0;
}   
