/*Estilos del Login Principal*/
.fondo_login{
    background-color:#5d6d7e;
}
.logo_login{
    color: #f2f4f4;
}
.entrada_login{
    background-color: #d6dbdf;
}
/*Estilos del Panel de Control*/
    /*Barra de Navegacion*/

.nav_perfil{
    left: -300px;
    right: 0;
    border: none;
}
    /*Panel de Inicio*/
.enlace:hover{
    text-decoration: none;
}
.caja{
    width: 2em;
    height: 2em;
    border-radius: 1em;
}